{% extends "home.html" %}

{% block data %}
<h1>Добавление пары</h1>
<form action="/add_schedule" method="post" id="add_shedule_form" class="insert_form">
    <label>Дата и время начала (пример: 2020-01-13 8:30):</label>  
    <input type="text" name="date_time" value="2020-01-13 8:30"> 
    <label>Преподаватель:</label>
    <select type="text" name="lecturer_id">
        {% for lecturer in lecturers %}
            <option value="{{lecturer.id}}">№ {{lecturer.id}}, {{lecturer.name}} </option>
        {% endfor %}
    </select>
    <label>Предмет:</label>
    <select type="text" name="subject_id">
        <option></option>
        {% for subject in subjects %}
            <option value="{{subject.id}}">№ {{subject.id}}, {{subject.title}} </option>
        {% endfor %}
    </select>
    <label>Группа:</label>
    <select type="text" name="group_id">
        {% for group in groups %}
            <option value="{{group.id}}">№ {{group.id}}, {{group.chair}} </option>
        {% endfor %}
    </select>
    <label>Аудитория:</label>
    <select type="text" name="classroom_id">=
        {% for classroom in classrooms %}
            <option value="{{classroom.id}}">№ {{classroom.id}}, {{classroom.title}} </option>
        {% endfor %}
    </select>
    <input type="text" name="stop" id="stop" style="display: none;">
    <button onclick="confirm_submit('add_shedule_form')">Добавить</button>
</form>
{% endblock %}